/*@mixin clearFix{
      content: "";
      display: block;
      clear: both;
    }
  */
  @mixin clearFix{
      &:after{
        content: "";
        display: block;
        clear: both;
      }
    } 