@import "reset";
@import "variables";
@import "medium.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Vollkorn:ital,wght@1,900&display=swap');



body{
//font-family: 'Vollkorn', 'Lato', serif;
background: /*#f8f9fb;*/ $lightGray;
}

header, footer{
    background-color: $darkBlue;
    height: 8.8rem;
    width: 100%;
    font-family: 'Vollkorn', serif;
}

#page-container{
   /* background-color: $lightGray;*/
    position: relative;
    min-height: 100%;
}

#content-wrap{
    padding-bottom: 20rem; //previously 40em

}

.name{
    text-align:center;
    margin-top:0;
    padding-top: .5em;
    font-size: 2.5em;
    color:white;
  
}

.copyright {
    text-align:center;
    padding-top:1em;
    padding-bottom: 0;
    color:white;
    font-family: 'Lato', serif;
 }

 .dateModified{
    text-align:center;
    padding-bottom: 1em;
    color:white;
    font-family: 'Lato', serif;
}
.content-links{
    //float:left;
     text-align: center;
    padding-top:3em;
    //margin-left:20%;
    font-family: 'Vollkorn', serif;
  }

.list{
    text-align: center;
    list-style-type:none;
    font-family: 'Lato', serif;
}

.list a{
    color:black;
    font-style: serif;
    &:hover{
        color:rgb(70, 70, 2);
      }
}

.me{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2em;
  border: 1px solid #333;
  box-shadow: 0 0 10px #000;
}
 
footer a {
  color:white;
  &:hover{
    /*color:rgb(70, 70, 2);*/
    color: #f1f109;
  }
}

/*
footer {
    position:absolute;
  
    }

h1,p, header {
    margin:0 auto;
    padding:0;
   
}





.name{
    text-align:center;
    margin-top:0;
    padding-top: .5em;
    font-size: 2.5em;
    color:white;
}

.copyright {
   text-align:center;
   padding-top:1em;
   padding-bottom: 0;
   color:white;
}

a{
  
    color: white;;
    font-weight: bold;
    &:hover{
      color: black;
    }
  }

.list a{
    color:black;
    &:hover{
        color: $darkBlue;
      }
}

.dateModified{
    text-align:center;
    padding-bottom: 1em;
    color:white;
}

.content-links{
    float:left;
    padding-top:3em;
    margin-left:20%;
  }

.list{
    float:left;
    padding-top:1.5em;
    margin-left:35%;
}

.content-links:after{
    content: "";
    display:block;
    clear:both;
}

.list::after{
    content: "";
    display:block;
    clear:both;
    margin-bottom: 5em;
}


*/