@media only screen and (min-width: 1024px){
    .motto{
      
        font-size: 1.5em;
    }
    
    .menu a{
      font-size: 1.1em;
    }
 
   .preston{
     text-align: left;
     font-size: 2em;
   }

   .prestonImage2{
    float: right;    
    margin: 1%;
    width:50%;  
      
    } 

    


  .container45{
    clear:both;
    display:flex;
    /*flex: 1 1 auto; */
    /*justify-content: center;*/
    
  }

  .block5 {
    flex-direction: column-reverse;
   /* justify-content: space-evenly;*/
    flex: 1 1 auto;
  }


  .map{
    width:120%;
    padding-left:10%;
  } 

.containergallery{
  grid-template-columns:1fr 1fr 1fr;
}


.containergallery img{
  box-shadow: 5px 5px 5px #999;
}

.containergallery img:hover{
  box-shadow: 0 0 50px #333;
} 


}/*end of media query*/