@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@700&display=swap');



h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em; 
    background-color: #1D3557;
    padding:10px; 
    color:white;
    text-align: center;
    margin-top:0;
 }

body{
    text-align: center;
    font-family: 'Lato', sans-serif;  
}

img{
   padding-bottom:20px;
   display:block;
   margin:0 auto;

}

p{
    margin:0;
 }

 h2{
    font-size: 1.5em;
    padding-top:.5em;
 }

 section{
    background-color:#ebf3e8; 
 }

footer{
    padding:20px;
}


/*media queries*/
@media only screen and (min-width: 640px){
.cards{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
  }
}


@media only screen and (min-width: 1024px){
.cards{
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

img{
  width:95%; 
  height:70%;
   
}

}  






