@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');


table{
    margin:50px auto;
    border-spacing: 0px;
    box-shadow: 5px 5px 10px #628ca6;
    font-family: 'Ubuntu', sans-serif;
    background-color: #e7f0ed;
}

td,th {
    border: 1px solid rgb(216, 213, 213);
    padding: 10px;
    text-align: center;
  }

tbody tr:nth-child(even) {
    background-color:#e7ffed;
   }

.white{
    color:white;
    background-color:#628ca6;
   }

tfoot{
    font-size: .8em;
    background-color: #7fb9c2
}

thead tr th{
    background-color: #628ca6;
    color:white;
    font-size: 1.2em;
}

caption{
    background-color: #7fb9c2;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    box-shadow:5px 5px 8px #628ca6;
}

