@media only screen and (min-width: 1024px){
    .motto{
      
        font-size: 1.5em;
    }
    
    .menu a{
      font-size: 1.1em;
    }
 
   .preston{
     text-align: left;
     font-size: 2em;
   }

   .prestonImage2{
    float: right;    
    margin: 1%;
    width:50%;  
      
    } 

    .map{
      width:120%;
      
    } 


  .container45{
    clear:both;
    display:flex;
    /*flex: 1 1 auto; */
    /*justify-content: center;*/
    
  }

  .block5 {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    flex: 1 1 auto;
  }

}