@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@700&display=swap');

.motto{
    font-style: italic;
    margin-top: -10px;
    font-family: 'Lato', sans-serif;
    color:white;
    font-size: 1.1em;
}


#banner{
    background-color: #E63946;
    color:white;
    padding:10px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

.block1{
    margin: 10px auto;
    position:relative;
}  

.prestonImage, .prestonImage2{
    width:100%;
    box-shadow: 5px 5px 5px #999;
   } 

.prestonImage2{
    margin-top: 2em;
    width:90%;
    display:block;
    margin:0 auto;
}  
 

  .summary{
    background-color: rgba(255,210,63,1); 
   /* width:200px;
    height:150px;
   position: absolute;
	top: 40px;
    left: 20px;
    padding-top: 1%;
    padding-left:10px;*/
    padding:1%;
    margin:0 auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
    
 }

.summary h4{
    margin:0;

}

 .summary span{
   font-family: 'Lato', sans-serif;
   padding:0;
   margin:0 auto;
   line-height: 5px;
  
    }
 

.block2, .block4{
    display:none;
    
}

.block3{
    background-color: #F1FAEE;
    margin-top:2em; 
   
} 

.block3 p{
    color:#4f5665;
   margin:0 auto;
    padding-left:5%;
    font-family: 'Lato', sans-serif;
}

.block3 h4{
   font-size: 1.2em;
    margin:0 auto;
    padding-left:5%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5%;
}


.block5{
   line-height: 3px;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   font-size: .85em;
  
   }



.block5 img{
  width:50px;

}   

.social{
    text-align: center;
    margin-bottom: 2em;
  
}

.block5 h4{
  font-size: 1.5em;
  margin-left: 5%;
 
}

.block5 p{
  color:#4f5665;
  font-family: 'Lato', sans-serif;
  margin-left: 5%;
  font-size: 1.5em;
}


.icon{
    width:110px;
}

header{
    background-color:#457B9D;
    padding:0.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;  
   }

footer{
    background-color:#457B9D;
    padding:0.5em 0.5em;
    color:white;
    text-align:center;
    font-family: 'Lato', sans-serif;    
 
}

.copyright{
    padding:0;
    margin:0;
} 

nav{
    background-color: #1D3557;
    max-width: 100%;
}

.menu{
    margin:0 auto;
    
} 

.sunshine{
    color:white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 1.8em;
}

.preston{
    text-align: center;
    margin-top:0;
    padding:0.5em;
    color:#E63946;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    list-style: none;
    padding:0;
    text-align: center;
}

.menu a{
    color:white;
    display:block;
    padding:0.5em; 
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;     
}

.menu a:hover {
	color:black;
    background-color:white;
    font-weight: 500;
}

.menu li {
    display: none;    
}

.menu li:first-child {
    display: block;
    background-color: #1D3557;   
}

main{
    background-color: #F1FAEE;
}

.active{
    padding:0;
    margin:0;
    background-color: #48648b; 
    display:block;

}

.responsive li {
    display: block;
    background-color: #1D3557;  
}


.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:#fff;
    margin: 6px 0;
    transition: 0.4s;
      }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


